.profile__image {
  background-color: black;
  background-image: url(../../../images/avatar.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
}