.page {
  background-color: #000000;
  min-height: 100vh;
}

.page__header {
  max-width: 880px;
  margin: 45px auto 40px;
}

.header {
  min-height: 74px;
  position: relative;
  opacity: 0.7;
  border-bottom: 1px solid #545454
  
}

.header_border {
  border-bottom: 1px solid #545454;;
  max-width: 1280px;
  padding: 0 200px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 74px;

}

.page__profile {
  max-width: 880px;
  margin: 0 auto 50px;
}

.profile {
  display: flex;
}



.profile__avatar {
  display: block;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}

.profile__image {
  background-color: black;
  background-image: url(./images/avatar.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
}

.profile__info {
  min-width: 336px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 22px;
}

.profile__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0 0 16px;
}

.profile__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  align-self: center;
  margin: auto 0 auto auto;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: black;
  background-image: url(./images/pluse.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(./images/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  right: 0;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.cards {
  
}

.page__cards {
  max-width: 880px;
  margin: 0 auto 66px
}

.cards__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);;
  gap: 20px 17px;
  list-style-type: none;
  padding: 0px;
  margin: 0;
  justify-content: center;
}

.cards__item {
  background-color: white;
  object-fit: cover;
  max-width: 282px;
  max-height: 361px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}


.cards__img {
  width: 100%;
}

.cards__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 25px 0 31px 21px;

  
}

.cards__like {
  background-image: url(./images/heart.svg);
  width: 22px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: white;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 30px;
}

.pp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {

}

.page__footer {
  max-width: 880px;

  margin: 45px auto 40px;
}

.footer__copyrating {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0 0 60px;
}