.form__fieldset {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 358px;
}

@media screen and (max-width: 800px) {
  .popup__fieldset {
    width: 238px;
  }
}