.page__profile {
  max-width: 880px;
  margin: 0 auto 50px;
}

@media screen and (max-width: 1023px) {
  .page__profile {
    padding: 0 19px;
  }
}

@media screen and (max-width: 917px) {
  .page__profile {
    margin-bottom: 36px;
  }
}

