.footer {
  max-width: 880px;
  padding: 67px 0 60px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-right: 19px;
    padding-left: 19px;
  }
}

@media screen and (max-width: 917px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 618px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .footer{
    max-width: 282px;
  }
}