.profile__avatar {
  position: relative;
}

@media screen and (max-width: 917px) {
  .profile__avatar {
    margin: 0 auto 26px;
  }
}

@media screen and (max-width: 618px) {
  .profile__avatar {
    margin: 0 auto 22px;
  }
}

.profile__avatar:hover .profile__avatar {
  opacity: .5;
}

.profile__avatar:hover .profile__avatar-overlay {
  opacity: 1;
}