.profile__info {
  min-width: 336px;
  display: block;
  position: relative;
  max-height: 61px;
  margin-bottom: 36px;
}


@media screen and (max-width: 917px) {
  .profile__info {
    min-width: 282px;
  }
}
