.popup__img-name {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  font-family: 'Inter' 'Helvetica Neue', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}